<h1 class="animated fadeIn fast">About</h1>
<hr>
<p class="fadeIn animated slow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus facilis vel ut facere eligendi laboriosam. Illum assumenda dolore autem natus! A officia necessitatibus placeat iure odio ad quibusdam sequi pariatur nisi repellendus? Error rerum eveniet
    dolorum, velit eum molestias consequatur dignissimos id consequuntur laborum labore eos quibusdam libero beatae odit.
</p>
<hr>
<div class="card flex-row flex-wrap col-4 fadeIn animated slow">
    <div class="card-header ">
        <img src="//placehold.it/300" alt="">
    </div>
    <div class="card-block px-2">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Description</p>
        <a href="#" class="btn btn-primary">BUTTON</a>
    </div>
    <div class="w-100"></div>
    <div class="card-footer w-100 text-muted">
        FOOTER
    </div>
</div>